.carta {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
}

.carta:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carta2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 600px;
  height: 400px;
}

.carta2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedor {
  padding: 2px 16px;
}

.titleProfile{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color:blue;
}

.containerProfile{
  text-align: center;
  border-width: thin;
  border-style: solid;
  width: 50%;
  margin: auto;
}

.cuadroMascota {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 800px;
  border-radius: 20px;
  border-style: solid;
}