{{#partial "contenido"}}

    <h1 class = "content">Gestionar OrganizacioÌn</h1>
    Definir las caracteristicas que se deben dar para registrar una mascota en su asociacion.<br>
    Definir preguntas que se deben responder para publicar en adopcion mascotas en su asociacion.

{{/partial}}

{{>layout.hbs}}