{{#partial "contenido"}}

    <h1 class = "content">Gestionar Organización</h1>
    Definir las caracteristicas que se deben dar para registrar una mascota en su asociacion.<br>
    Definir preguntas que se deben responder para publicar en adopcion mascotas en su asociacion.

    <br>
    <br>
    Asociacion: {{nombre}}
    <br>
    <br>
    Mostrar aqui las caracteristicas

    <br><br><br><br><br><br><br><br><br><br>

    <form action="/datos1" method="post">
        <input type="submit" value="Crear datos base">
    </form>
    <br>
    <form action="/datos2" method="post">
        <input type="submit" value="Crear datos extra">
    </form>
    <br><br>
    <form action="/borrar" method="post">
        <input type="submit" value="Vaciar base de datos">
    </form>

{{/partial}}

{{>layout.hbs}}