{{#partial "contenido"}}

    <h1 class = "content">Mis Publicaciones</h1>
    <br>

    <form action="/mascotas/notificar" method="post">
        <label>ID chapita: </label>
        <input type="text" id="ID_chapita" name="ID_chapita" placeholder="ID chapita..." required>
        <input type="submit" value="Notificar mascota perdida">
    </form>
    <form action="/publicaciones/perdidaGenerica" method="post">
        <input type="submit" value="Publicar mascota perdida">
    </form>
    <form action="/publicaciones/intencionGenerica" method="post">
        <input type="submit" value="Publicar intención adopción">
    </form>


    <br><br>

    {{#each Publicaciones}}
            {{>(lookup . 'this.tipoPublihbs') }}
        <br>
    {{/each}}
    <br>

    {{#if Pendientes}}
        <h2 class = "content">Pendientes</h2>
        <br>
        {{#each Pendientes}}
            {{>(lookup . 'this.tipoPublihbs') }}
            <br>
        {{/each}}
        <br>
    {{/if}}

    {{#if Finalizadas}}
        <h2 class = "content">Finalizadas</h2>
        <br>
        {{#each Finalizadas}}
            {{>(lookup . 'this.tipoPublihbs') }}
            <br>
        {{/each}}
    {{/if}}


{{/partial}}

{{>layout.hbs}}