{{#partial "contenido"}}

    <h1 class = "content">Mis Publicaciones</h1>
    <br>

    {{#each Publicaciones}}
            {{>(lookup . 'this.tipoPublihbs') }}
        <br>
    {{/each}}


{{/partial}}

{{>layout.hbs}}