{{#partial "contenido"}}

    <h1 class = "content">Mis Publicaciones</h1>
    <br>

    <form action="/mascotas/notificar" method="post">
        <label>ID chapita: </label>
        <input type="text" id="ID_chapita" name="ID_chapita" placeholder="ID chapita..." required>
        <input type="submit" value="Notificar mascota perdida">
    </form>
    <form action="/publicaciones/perdidaGenerica" method="post">
        <input type="submit" value="Publicar mascota perdida">
    </form>
    <form action="/publicaciones/intencionGenerica" method="post">
        <input type="submit" value="Publicar intención adopción">
    </form>


    <br><br>

    {{#if Pendientes}}
        <h2 class = "content">Pendientes</h2>
        <p>Un voluntario aceptará a la brevedad</p>
        <br>
        {{#each Pendientes}}
            {{>(lookup . 'this.tipoPublihbs') }}
            <br>
        {{/each}}
        <br>
    {{/if}}

    {{#if Publicaciones}}
        <h2 class = "content">Publicadas</h2>
        <br>
        {{#each Publicaciones}}
                {{>(lookup . 'this.tipoPublihbs') }}
            <br>
        {{/each}}
        <br>
    {{/if}}

    {{#if Finalizadas}}
        <h2 class = "content">Finalizadas</h2>
        <br>
        {{#each Finalizadas}}
            {{>(lookup . 'this.tipoPublihbs') }}
            <br>
        {{/each}}
    {{/if}}


    <div id="popupChapitaYaPublicada" class="overlay">
        <div class="popup">
            <h2>ERROR. Chapita ya publicada</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Solo puede publicar la chapita encontrada una vez. Intente recuperar y volver a perder a la mascota.
            </div>
        </div>
    </div>

    <div id="popupChapitaInexistente" class="overlay">
        <div class="popup">
            <h2>ERROR. Chapita inexistente</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                No existe mascota registrada con esa chapita.
            </div>
        </div>
    </div>

    <div id="popupMascotaNoPerdida" class="overlay">
        <div class="popup">
            <h2>ERROR. Mascota no perdida</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                La mascota asociada a la chapita no se encuentra perdida.
            </div>
        </div>
    </div>

{{/partial}}

{{>layout.hbs}}