{{#partial "contenido"}}

    <h1 class = "content">Muro de publicaciones</h1>
    <b>Bienvenido:</b> {{ Titulo }}  <br><br>

    {{#each Publicaciones}}
        <ul>
          <li><b>Autor:</b> {{this.autorString}} <b>Asociacion:</b> {{this.asociacionString}} <b>Estado:</b> {{this.estadoString}} </li>>

        </ul>>
    {{/each}}

{{/partial}}

{{>layout.hbs}}