{{#partial "contenido"}}
    <h1 class = "content">Perfil</h1>
    <br>

    <div class= "container">
        <div class= "containerProfile"> 
            <h1 class ="titleProfile">Datos generales</h1>
                <p><b>Nombre:</b>{{Nombre}}</p>
                <p><b>Apellido:</b>{{Apellido}}</p>
                <p><b>Fecha de Nacimiento:</b>{{FechaNacimiento}}</p>
                <p><b>Numero de documento:</b>{{NumeroDoc}}</p>
        </div>
    </div>

{{/partial}}

{{>layout.hbs}}